@tailwind base;
@tailwind components;
@tailwind utilities; 

html, body {
    height: 98%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  
  main {
    flex: 1; /* Pushes footer to bottom when content is short */
  }
  